
<div class="list-group">
   
    <button type="button" class="border-0 m-2 bg-dark text-light fs-5" routerLink="gallery"><span><i class="bi bi-images"></i></span> {{titulo1}} </button>
    <button type="button" class="border-0 m-2 bg-dark text-light fs-5" routerLink="mockups"><span><i class="bi bi-easel"></i></span>{{titulo2}}  </button>
    <button type="button" class="border-0 m-2 bg-dark text-light fs-5" routerLink="reels"> <span><i class="bi bi-camera-reels"></i></span>{{titulo3}} </button>
    <button type="button" class="border-0 m-2 bg-dark text-light fs-5" routerLink="my profile"><span><i class="bi bi-person"></i></span>{{titulo4}} </button>
  </div>