
<div class="list-group">
   
    <button type="button" class="border-0 m-2 bg-dark text-light fs-5" routerLink="gallery"><span><i class="bi bi-images"></i></span>  gallery</button>
    <button type="button" class="border-0 m-2 bg-dark text-light fs-5" routerLink="mockups"><span><i class="bi bi-easel"></i></span> mockups</button>
    <button type="button" class="border-0 m-2 bg-dark text-light fs-5" routerLink="reels"> <span><i class="bi bi-camera-reels"></i></span> reels</button>
    <button type="button" class="border-0 m-2 bg-dark text-light fs-5" routerLink="my profile"><span><i class="bi bi-person"></i></span> my profile</button>
  </div>